<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>OBLIGEO</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>
      ObliGEO - przetwarzanie plików i obliczenia
    </h1>
<a href="\konwersja"><h3>Transformacja wysokościowa współrzędnych</h3></a>
<h3>Podział txt po różnych wartościach w kolumnie na oddzielne pliki- w trakcie opracowania</h3>
<a href="\zmiana"><h3>Zmiana Nr, x, y, h na Nr;h, x, y</h3></a>
<a href="\wsadgeoinfo"><h3>Wsad do Geo-INFO</h3></a>
<h3>Wsad do Ewmapa - w trakcie opracowania</h3>
<a href="\wsadturbomap"><h3>Wsad do TurboMap</h3>

  </body>
</html>