<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>OBLIGEO</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>
      ObliGEO - obliczenia
    </h1>
<h3>Transformacja wysokościowa współrzędnych</h3>
Wybierz plik do transformacji - rozdzielany znakiem tabulacji<BR>
<BR>
 <form action = "\konwersja_w" method = "POST" enctype = "multipart/form-data">

  <div class="form-group">
    <label>Różnica wysokości między układami w metrach</label>
    <input type="txt" class="form-control" id="roznica" name="roznica" placeholder="Wpisz roznice">
  </div>

  <div class="form-group">
         <input type = "file" name = "file" />
         <input type = "submit"/>
  </div>
</form>
 <a href="\"><h3>Powrót do strony głównej</h3></a>

</body>
</html>